<h1>Create a new Pintrest item </h1>

<%= form_for @item, :url => users_path, :html => { :multipart => true } do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <%= f.label :user_id %>:
  <%= f.text_field :user_id %><br />

  <%= f.file_field :avatar %>

  <%= f.submit %>
<% end %>
</br>
<%= link_to 'List of items', "/items" %>
