<h1>Reddit Stories</h1>

<p>


<% @stories.each do |story| %>
	<ul>
	<%= story.title %> (User ID: <%= story.user_id %>, Category ID: <%= story.category_id %>)<br/>
	<%= link_to 'Show', "/stories/#{story.id}" %>
	</ul>
<% end %>


<%= link_to 'Create', "/stories/new" %>

</p>